<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<%inherit file="/base.html"/>
<html>
  <head>
    <title>应用类型管理</title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="${STATIC_URL}mystatic/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/pager/css/scro.page.bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/pager/css/scro.page.css" />
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/style.css" />
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/layout.css" />
    <script type="text/javascript" src="${STATIC_URL}mystatic/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}mystatic/layer/layer.js"></script>
    <script type="text/javascript" src="${STATIC_URL}mystatic/pager/js/scro.page.js"></script>
    <script type="text/javascript" src="${STATIC_URL}mystatic/js/apply.type.js"></script>
  </head>
  
  <body>
  	<div class="manage-head">
		<h6 class="padding-left manage-head-con text-sub">应用类型设置</h6>
	</div>
    <!-- HTML代码、服务端内容填充 -->
	<div class="queryBox" style="margin: 10px 10px 10px 10px;">
	<!-- 定义表格框架 -->
		<table id="dataGridTableJson" class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<!-- <th class="selectColumn"></th>  -->
					<th>ID</th>
					<th>应用类型</th>
					<th width="20%">操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div id="page3"></div>
  </body>
</html>
