<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<%inherit file="/base.html"/>
<html>
	<head>
		<title>home.html</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/layout.css" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/home.css" />
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/style.css" />
		<script type="text/javascript" src="${STATIC_URL}mystatic/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="${STATIC_URL}mystatic/js/echarts.min.js"></script>
	</head>
	<body style="height: 100%; margin: 0">
		<div class="">
			<div class="indentify clearfix" style="margin-left: 100px;width: 90%;" align="center">
				<div class="indentify-class padding-lr clearfix">
					<ul class="class-content clearfix" id="iconBox">
						
					</ul>
				</div>
			</div>
			<hr>
			<div class="indentify clearfix" style="height: 350px;">
				<div id="data_container" style="height: 320px;width: 90%;cursor: pointer;" ></div>
			</div>
			<div class="indentify clearfix" style="height: 550px;margin-left: 50px;">
				<div id="totle_container" style="height: 520px;width: 85%;"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="${STATIC_URL}mystatic/js/home.js"></script>
</html>
