<%inherit file="/base.html"/>
<html>
	<head>
		<meta charset="utf-8" />
		<title>权限管理系统</title>
 		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
	</head>
	<body class="main_body">
		<div class="contentpanel">
<div class="row">
    <div class="col-sm-3 animated fadeInLeft animate1">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <div class="col-xs-7">
                            <small class="stat-label">平台业务</small>
                            <!-- <h4>22</h4> -->
                        </div>
                    </div>
                    <!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">总数</small>
                            <h1 id="biz_count">0</h1>
                        </div>

                    </div>
                    <!-- row -->
                </div>
                <!-- stat -->

            </div>
            <!-- panel-heading -->
        </div>
        <!-- panel -->
    </div>
    <!-- col-sm-3 -->
    <div class="col-sm-3 animated fadeInRight animate2">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-bank fa-4x"></i>
                        </div>
                        <div class="col-xs-7">
                            <small class="stat-label">平台应用</small>
                            <!-- <h4>311</h4> -->
                        </div>
                    </div>
                    <!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label">总数</small>
                    <h1 id="app_count">0</h1>

                </div>
                <!-- stat -->

            </div>
            <!-- panel-heading -->
        </div>
        <!-- panel -->
    </div>
    <!-- col-sm-3 -->
    <div class="col-sm-3 animated fadeInRight animate3">
        <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-file-text fa-4x"></i>
                        </div>
                        <div class="col-xs-7">
                            <small class="stat-label">主机资源</small>
                            <!-- <h4>931</h4> -->
                        </div>
                    </div>
                    <!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label">所有</small>
                    <h1 id="host_count">0</h1>

                </div>
                <!-- stat -->

            </div>
            <!-- panel-heading -->
        </div>
        <!-- panel -->
    </div>
    <!-- col-sm-3 -->
    <div class="col-sm-3 animated fadeInRight animate4">
        <div class="panel panel-info panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-money fa-4x"></i>
                        </div>
                        <div class="col-xs-7">
                            <small class="stat-label">作业模板</small>
                            <!-- <h1>111</h1> -->
                        </div>
                    </div>
                    <!-- row -->

                    <div class="mb15"></div>
                    <small class="stat-label">总数</small>
                    <h1 id="job_count">0</h1>
                    <!-- row -->

                </div>
                <!-- stat -->

            </div>
            <!-- panel-heading -->
        </div>
        <!-- panel -->
    </div>
    <!-- col-sm-3 -->
</div>
<!-- row -->

<div class="panel panel-default animated fadeInRight animate5">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="minimize">−</a>
        </div>
        <h5 class="panel-title">资源信息</h5>
    </div>
    <div class="panel-body">
        <div class="row m-t-20">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-center m-b-20">
                <a class="task-bg rounded-corner center-block bg-aqua-darker" href="#">22</a>
                <h5>小船</h5>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-center m-b-20">
                <a class="task-bg rounded-corner center-block bg-aqua-lighter" href="#">12</a>
                <h5>大船</h5>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-center m-b-20">
                <a class="task-bg rounded-corner center-block bg-blue-lighter" href="#">999</a>
                <h5>其他</h5>
            </div>
           
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="minimize">−</a>
                </div>近五月数据</h4>
            </div>
            <div class="panel-body">

                <span class="sublabel">2017-12（123,331）</span>

                <div class="progress progress-md progress-striped active">
                    <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                         role="progressbar"
                         class="progress-bar progress-bar-danger"></div>
                </div>
                <!-- progress -->

                <span class="sublabel">2017-11（123,331）</span>

                <div class="progress progress-md progress-striped active">
                    <div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88"
                         role="progressbar"
                         class="progress-bar progress-bar-warning"></div>
                </div>
                <!-- progress -->

                <span class="sublabel">2017-10（123,331）</span>

                <div class="progress progress-md progress-striped active">
                    <div style="width: 72%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="72"
                         role="progressbar"
                         class="progress-bar progress-bar-primary"></div>
                </div>
                <!-- progress -->

                <span class="sublabel">2017-09（123,331）</span>

                <div class="progress progress-md progress-striped active">
                    <div style="width: 63%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="63"
                         role="progressbar"
                         class="progress-bar progress-bar-success"></div>
                </div>
                <!-- progress -->

                <span class="sublabel">2017-08（123,331）</span>

                <div class="progress progress-md progress-striped active">
                    <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55"
                         role="progressbar"
                         class="progress-bar progress-bar-info"></div>
                </div>
                <!-- progress -->


            </div>
            <!-- panel-body -->
        </div>
        <!-- panel -->
    </div>
    <!-- col-sm-9 -->

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="minimize">−</a>
                </div>
                <h4 class="panel-title">分类统计</h4>
            </div>
            <div class="panel-body-nopadding" id="chart1" style="height:255px">

            </div>
        </div>
    </div>
    <!-- col-sm-3 -->

</div>
<!-- row -->
</div>

<script>
   

</script>
	</body>
	<script>
		//JavaScript代码区域
		layui.use('layer', function() {
					var $ = layui.jquery,
						layer = layui.layer;

					$('#video1').on('click', function() {
						layer.open({
							title: 'YouTube',
							maxmin: true,
							type: 2,
							content: 'video.html',
							area: ['800px', '500px']
						});
                    });
                    $('#pay').on('click', function () {
                        layer.open({
                            title: false,
                            type: 1,
                            content: '<img src="images/xx.png" />',
                            area: ['500px', '250px'],
                            shadeClose: true
                        });
                    });


		});
	</script>
</html>
