<%inherit file="/base.html"/>
<link type="text/css" href="${STATIC_URL}mystatic/date/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link type="text/css" href="${STATIC_URL}mystatic/date/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<div style="background-color: white;" id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel-body" style="margin-top: 0px;">
          <form class="form-inline">
            <div class="form-group">
             	<input type="text" class="form-control" v-model="q.build_name" id="build_name" @keyup.enter="query" placeholder="楼宇名称">
            </div>
            <div class="form-group">
              	<input type="text" class="form-control" v-model="q.stu_class" id = "stu_class" @keyup.enter="query" placeholder="班级">
            </div>
            <div class="form-group">时间: 
              	<input type="text"  class="form-control ui_timepicker" id="q_date_start" readonly="readonly" name="datetime"  value="">
            </div>
            <a class="btn btn-default fi-magnifying-glass icon-green" @click="query">查询</a>
          </form>
        </div>
        
		<div class="grid-btn" style="border:1px solid #F5F5F5">
			<a class="btn btn-primary" @click="setRoles"><i class="fi-widget"></i>&nbsp;在寝列表</a>
			<a class="btn btn-primary" @click="setMenus"><i class="fi-widget"></i>&nbsp;离寝列表</a>
		</div>
		<div style="border:1px solid #F5F5F5" id="zaiqinlist" >
			<div class="grid-btn" style="border:0px solid #F5F5F5">
				<a class="btn btn-primary" style="float: right;height: 30px;"  @click="exportGrid1('EXCEL')"><i class="fa fa-plus"></i>&nbsp;导出excel</a>
				<b id="zaiqin">在寝人数：0</b>
			</div>
           	<table id="jqGrid"></table>
	    	<div id="jqGridPager"></div>
		</div>
			
         <div style="border:1px solid #F5F5F5" id="liqinlist">
         	<div class="grid-btn" style="border:0px solid #F5F5F5">
				<a  class="btn btn-primary" style="float: right;height: 30px;" @click="exportGrid2('EXCEL')"><i class="fa fa-plus"></i>&nbsp;导出excel</a>
				<b id="liqin">离寝人数：0</b> 
			</div>
          	<table id="jqGrid2"></table>
   			<div id="jqGridPager2"></div>
        </div>
    </div>
</div>
<script src="${STATIC_URL}mystatic/myjs/stumgr.js"></script>
<script src="${STATIC_URL}js/csrftoken.js"></script>
<script type="text/javascript" src="${STATIC_URL}mystatic/date/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="${STATIC_URL}mystatic/date/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="${STATIC_URL}mystatic/date/js/jquery-ui-timepicker-zh-CN.js"></script>
<!-- <script src="${STATIC_URL}mystatic/messager/jquery-1.2.6.pack.js"></script> -->
<script src="${STATIC_URL}mystatic/messager/jquery.messager.js"></script>
<script type="text/javascript">
$(".ui_timepicker").datetimepicker({
    //showOn: "button",
    //buttonImage: "./css/images/icon_calendar.gif",
    //buttonImageOnly: true,
    showSecond: true,
    timeFormat: 'hh:mm:ss',
    stepHour: 1,
    stepMinute: 1,
    stepSecond: 1
});
$(".ui_timepicker").datepicker('setDate',currentDate());
//主机地址
var wsUrl = "ws://192.168.1.50:9000/video";
//视频流地址
var rtspUrl = "rtsp://192.168.1.10/user=admin&password=&channel=1&stream=0.sdp?";

//websocket连接
var ws = wsUrl + "?url=" + encodeURIComponent(rtspUrl);

console.info(ws);

var output;

//初始化操作
function init() {
	output = document.getElementById("output");
	testWebSocket();
}

function testWebSocket() {
	websocket = new WebSocket(ws);
	debugger
	websocket.onopen = function(evt) {
		onOpen(evt)
	};
	websocket.onclose = function(evt) {
		onClose(evt)
	};
	websocket.onmessage = function(evt) {
		onMessage(evt)
	};
	websocket.onerror = function(evt) {
		onError(evt)
	};
}

function onOpen(evt) {
	//writeToScreen("CONNECTED");
	doSend("WebSocket rocks");
}

function onClose(evt) {
	//writeToScreen("DISCONNECTED");
}

//收到消息
function onMessage(evt) {
	var obj = eval('(' + evt.data + ')');
	image = obj['data']['face']['image'];
	debugger
	writeToScreen('<img height="100" width="100" src="data:image/png;base64,' + image + '"/>');
	///alert("陌生人到访");
	person_id = obj['data']['person']['id'];
	/* if (person_id != undefined && person_id ！=""){
		
	} */
	$.messager.lays(145, 145);
	$.messager.show('<font color=red>有人到访</font>', '<img height="100%" width="100%" src="data:image/png;base64,' + image + '"/>', 1000*10);
	//关闭连接
	//websocket.close();
}

function onError(evt) {
	//writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
}

function doSend(message) {
	//writeToScreen("SENT: " + message);
	websocket.send(message);
}

//输出识别结果到屏幕
function writeToScreen(message) {
	//var result = document.getElementById("test");
	//var pre = document.createElement("p");
	//pre.style.wordWrap = "break-word";
	//pre.innerHTML = message;
	//output.appendChild(pre);
	/* layer.open({
		type: 1,
		skin: 'layui-layer-molv',
		title: "陌生人到访",
		area: ['550px', '270px'],
		shadeClose: false,
		content: jQuery("#output"),
		btn: ['修改','取消'],
		btn1: function (index) {
			layer.close(index);
        }
	}); */
}

window.addEventListener("load", init, false);

</script>
