<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- <title>开发框架|蓝鲸智云社区版</title> -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">
        <link href="${STATIC_URL}mystatic/css/bootstrap/style.default.css" rel="stylesheet">
	    <link href="${STATIC_URL}mystatic/tab-page/tab-control.css" rel="stylesheet">
	    <link href="${STATIC_URL}mystatic/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	    <!--换肤-->
	    <link href="${STATIC_URL}mystatic/css/bootstrap/style.katniss.css" rel="stylesheet">
	    <!--IE8兼容样式-->
	    <link href="${STATIC_URL}mystatic/css/bootstrap/navigateLowerIE8.css" rel="stylesheet">
        <link href="${STATIC_URL}mystatic/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="${STATIC_URL}mystatic/css/foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="${STATIC_URL}mystatic/layui/css/layui.css"/>
		<link rel="stylesheet" href="${STATIC_URL}mystatic/css/icon/iconfont.css" />
		<link rel="stylesheet" href="${STATIC_URL}mystatic/css/public/public.css" />
		<link id="loadBefore" href="${STATIC_URL}mystatic/assets/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="${STATIC_URL}mystatic/jqgrid/ui.jqgrid-bootstrap.css">
		<link rel="stylesheet" href="${STATIC_URL}mystatic/jqgrid/main.css">
		<link rel="stylesheet" href="${STATIC_URL}mystatic/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="${STATIC_URL}mystatic/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
        <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
<script type="text/javascript">
	var user_is_login = "${request.session['user_is_login']}";
	var user_name = "${request.session['user_name']}";
	var login_code = "${request.session['login_code']}";
	var user_id = "${request.session['user_id']}";
	/* if (user_is_login == undefined || user_is_login == "False") {
		//alert("请先登录 ！");
		window.setTimeout("window.location='${SITE_URL}login/'", 1000);
	} */
	var app_id = "${APP_ID}";
	var site_url = "${SITE_URL}"; // app的url前缀,在ajax调用的时候，应该加上该前缀
	var static_url = "${STATIC_URL}"; // 静态资源前缀
</script>
  </head>

  <body>
    <%block name='content'></%block>
    <!-- jquery js  -->
   	<script type="text/javascript" src="${STATIC_URL}mystatic/date/js/jquery-1.7.1.min.js"></script>
    <script src="${STATIC_URL}js/jquery.json-2.3.min.js" type="text/javascript"></script>
    <!-- bootstrap js  -->
    <script src="${STATIC_URL}mystatic/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!--配置js  勿删-->
    <script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
   	
	<script src="${STATIC_URL}mystatic/myjs/bking-api-ajax.js"></script>
   	<script src="${STATIC_URL}mystatic/layui/layui.js"></script>
   	<script src="${STATIC_URL}mystatic/js/vue.min.js"></script>
   	<script src="${STATIC_URL}mystatic/jqgrid/grid.locale-cn.js"></script>
	<script src="${STATIC_URL}mystatic/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="${STATIC_URL}mystatic/ztree/jquery.ztree.all.min.js"></script>
	<!-- <script src="${STATIC_URL}mystatic/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="${STATIC_URL}mystatic/assets/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script> -->
	<script src="${STATIC_URL}mystatic/jqgrid/common.js"></script>
	<script type="text/javascript" src="${STATIC_URL}mystatic/datas/nav.js"></script>
	<script src="${STATIC_URL}mystatic/js/index.js"></script>
	<script src="${STATIC_URL}mystatic/myjs/common.js"></script>
	${self.body()}
    <!-- 兼容性设置 -->
    <!--[if lt IE 6]>\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5\x20\xe7\x89\x88\xe6\x9d\x83\xe6\x89\x80\xe6\x9c\x89<![endif]-->
  </body>
</html>
